* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

/* Стиль хедера */
.header {
  position: fixed;
  /* Фиксируем хедер */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #5267e4;
  color: white;
  padding: 0;
  text-align: center;
  z-index: 1000;
  /* Убедимся, что хедер всегда сверху */
}